div.wrap  {
    width: 750px;
    margin: 50px auto;
}

a:link {font-size:12px;}

p.desc  {
  margin-top: 100px;
  text-align: center;
  color: #aaa;
}

p.desc a  {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}

p.desc a:hover  {
  border-bottom-style: solid;
}


/* ------- Navigation ----------- */

ul#top_nav  {
  border: 1px solid #292929;
  margin: 0;
  padding: 0;
  width: 850px;
  margin-bottom: 50px;

  -webkit-box-shadow: 0 3px 3px #3c3c40;
     -moz-box-shadow: 0 3px 3px #3c3c40;
          box-shadow: 0 3px 3px #3c3c40;
  
}

ul#top_nav li {
  list-style: none;
  float: left;
}

ul#top_nav li a {
  text-align: center;
  height: 50px;
  width: 140px;
  line-height: 50px;
  color: #fff;
  display: block;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
 
  border-right: 1px solid #323235;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  
  background-image: -moz-linear-gradient(top, #535357, #3c3c3f);
  background-image: -ms-linear-gradient(top, #535357, #3c3c3f);
  background-image: -webkit-linear-gradient(top, #535357, #3c3c3f);
  background-image: linear-gradient(top, #535357, #3c3c3f);
  
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
     -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
          box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;

}

ul#top_nav li a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  background-image: -moz-linear-gradient(top, #565658, #313132);
  background-image: -ms-linear-gradient(top, #565658, #313132);
  background-image: -webkit-linear-gradient(top, #565658, #313132);
  background-image: linear-gradient(top, #565658, #313132);
  
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
      -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
           box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
}

ul#top_nav li a:active  {
  background: #414142;
  -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
      -moz-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
           box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
}

ul#top_nav li:first-child a {
  border-left: none;
}

ul#top_nav li:last-child a  {
  border-right: none;
}


/* ---------- Clearfix ------- */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */