#wrapper {
	width:750px;
	margin-top:10px;
	overflow:auto;
}
body, html {
	width:750px;
	color:#000000;
	margin:0 auto;
	margin-top:30px;
	background-color: #00CCFF;
	font-family: "Times New Roman", Helvetica, Arial, sans-serif
}

h1{
	color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}

p:first-line{
	font-weight:bold;
}
#logo {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 24px;
	font-weight: bolder;
	margin: 0 auto;
	line-height: 4px;
	font-variant: normal;
}
#vasakTOP{
	float:left;
	background-color:#D7F2FF;
	width:310px;
	height: 450px;
	margin-top:5px;
}
#vasakTOP img {
	position: relative;
	height: 430px;
	width: 290px;
	margin: 10px;
}
#Main{
	float:right;
	width:435px;
	height:490px;
	margin-bottom:20px;
	margin-top:5px;
	background-color:#D7F2FF;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	line-height: normal;
}
#Main p,h1{
	padding: 15px;
}
#mainMenu{
	float:right;
	width:750px;
	height: 40px;
	margin: 5px;
	background-color:#00FF66;
}
#mainMenuText{
	font-size: 20px;
	color: white;
}
#vasakBOTTOM {
	float:left;
	background-color:#D7F2FF;
	width:310px;
	height: 80px;
	margin-top: 5px;
}
}
#logo p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	margin-bottom:40px;
	color: #FFFF99;
}
ul{
	color:white;
	font-size:18px;
}
#pildiMenu{
	float:right;
}
#footer{
	font-size:0.65em;
	font-weight: normal;
	text-align:center;
	clear:both;
	color: #666666;
}
