<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  	<welcome-file-list>
    	<welcome-file>front.jsp</welcome-file>
  	</welcome-file-list>

	
	<servlet>
		<servlet-name>CandidateSearchServlet</servlet-name>
        <servlet-class>com.uvalimised.servlet.CandidateSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CandidateSearchServlet</servlet-name>
        <url-pattern>/CandidateSearch</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SuggestServlet</servlet-name>
        <servlet-class>com.uvalimised.servlet.SuggestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuggestServlet</servlet-name>
        <url-pattern>/SuggestServlet</url-pattern>
    </servlet-mapping>
    
</web-app>



